# Database
POSTGRES_USER=db_user
POSTGRES_PASSWORD=db_password
POSTGRES_DB=db_name
POSTGRES_PORT=5432
POSTGRES_HOST=localhost

# Redis
REDIS_PORT=6379

# Cloudinary
CLOUDINARY_CLOUD_NAME=cloudinary_cloud_name
CLOUDINARY_API_KEY=cloudinary_api_key
CLOUDINARY_API_SECRET=cloudinary_api_secret

# JWT
JWT_ACCESS_SECRET=jwt_access_secret
JWT_REFRESH_SECRET=jwt_refresh_secret

# Admin
ADMIN_EMAIL=admin_email
ADMIN_PASSWORD=admin_password

# App
PORT=8000 